/.idea
/.target
*.iml
*.class
src/main/resources/google-sheets-client-secret.json
target/classes/google-sheets-client-secret.json
target/
*/target/**
*/target/*
target/classes/RedouaneBali.json
target/classes/RedTheOne.json