/.idea
/.target
*.iml
*.class
*.jar
src/main/resources/*
bot/src/main/resources/*
bot/src/main/resources/google-credentials.json
src/resources/twitter-credentials.json
target/
*/target/**
*/target/*
/out
/okhttpCache
/okhttpCache/*