.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

#main{

}

svg{
    width:100%;
    height:1400px;
}

.nodes{
width:100%
margin-top:10px;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

body {
    min-width: fit-content;
}

text {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.bt{
  background: #333;
  color: #fdfdfd;
  min-height: 35px;
  margin: 0;
  border-radius: 3px;
  border: 0;
  line-height: 35px;
  text-align: center;
  margin: .5em 0 .5em 0;

}

body{
display: flex;
  flex-direction: column;

}

a.bt{
  display: inline;
  padding: 7px 10px 7px 10px;
}

.bt:hover{
  background: #000;
}

@media only screen and (max-width:480px) {
  .bt {
    width: 100%;
    font-size: 30px;
  }

  a.bt{
    display: block;
    padding: 0;
  }
}

